<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>cddd</h1>
    <button><a href="/add_user">add User</a></button>
    <button><a href="/view_user">view User</a></button>
    <button><a href="/login">login user</a></button>
    <button><a href="/logout_user">logout user</a></button>

</body>
</html>